.svg--add-dims {
	width: 24px;
	height: 24px;
}

.svg--add--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--add--outline-dims {
	width: 24px;
	height: 24px;
}

.svg--api-dims {
	width: 25px;
	height: 24px;
}

.svg--app-services-dims {
	width: 24px;
	height: 24px;
}

.svg--applications-dims {
	width: 23px;
	height: 23px;
}

.svg--arrow--down-dims {
	width: 14px;
	height: 16px;
}

.svg--arrow--left-dims {
	width: 16px;
	height: 14px;
}

.svg--arrow--right-dims {
	width: 16px;
	height: 14px;
}

.svg--arrow--up-dims {
	width: 14px;
	height: 16px;
}

.svg--arrows-dims {
	width: 24px;
	height: 22px;
}

.svg--asleep--glyph-dims {
	width: 14px;
	height: 17px;
}

.svg--block-chain-dims {
	width: 21px;
	height: 24px;
}

.svg--caret--down-dims {
	width: 10px;
	height: 5px;
}

.svg--caret--left-dims {
	width: 5px;
	height: 10px;
}

.svg--caret--right-dims {
	width: 5px;
	height: 10px;
}

.svg--caret--up-dims {
	width: 10px;
	height: 5px;
}

.svg--checkmark-dims {
	width: 12px;
	height: 9px;
}

.svg--checkmark--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--checkmark--outline-dims {
	width: 24px;
	height: 24px;
}

.svg--chevron--down-dims {
	width: 12px;
	height: 8px;
}

.svg--chevron--left-dims {
	width: 8px;
	height: 12px;
}

.svg--chevron--right-dims {
	width: 8px;
	height: 12px;
}

.svg--chevron--up-dims {
	width: 12px;
	height: 8px;
}

.svg--close-dims {
	width: 10px;
	height: 10px;
}

.svg--close--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--close--outline-dims {
	width: 24px;
	height: 24px;
}

.svg--cloud-foundry-dims {
	width: 24px;
	height: 18px;
}

.svg--containers-dims {
	width: 24px;
	height: 22px;
}

.svg--copy-dims {
	width: 18px;
	height: 24px;
}

.svg--copy--code-dims {
	width: 24px;
	height: 12px;
}

.svg--dashboard-dims {
	width: 24px;
	height: 24px;
}

.svg--data-dims {
	width: 24px;
	height: 24px;
}

.svg--delete-dims {
	width: 16px;
	height: 24px;
}

.svg--devices-dims {
	width: 24px;
	height: 23px;
}

.svg--devops-dims {
	width: 24px;
	height: 24px;
}

.svg--download-dims {
	width: 24px;
	height: 24px;
}

.svg--edit-dims {
	width: 29px;
	height: 29px;
}

.svg--edit--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--error-dims {
	width: 24px;
	height: 24px;
}

.svg--favorite-dims {
	width: 16px;
	height: 15px;
}

.svg--filter-dims {
	width: 24px;
	height: 24px;
}

.svg--filter--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--folder--glyph-dims {
	width: 16px;
	height: 12px;
}

.svg--grid-dims {
	width: 16px;
	height: 16px;
}

.svg--header--contact-dims {
	width: 12px;
	height: 12px;
}

.svg--header--docs-dims {
	width: 12px;
	height: 11px;
}

.svg--header--help-dims {
	width: 12px;
	height: 12px;
}

.svg--header--notifciation-dims {
	width: 12px;
	height: 9px;
}

.svg--header--ticket-dims {
	width: 14px;
	height: 14px;
}

.svg--help-dims {
	width: 24px;
	height: 24px;
}

.svg--help--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--info-dims {
	width: 24px;
	height: 24px;
}

.svg--info--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--infrastructure-dims {
	width: 24px;
	height: 24px;
}

.svg--integration-dims {
	width: 24px;
	height: 21px;
}

.svg--iot-dims {
	width: 24px;
	height: 24px;
}

.svg--launch-dims {
	width: 24px;
	height: 20px;
}

.svg--launch--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--light-dims {
	width: 18px;
	height: 18px;
}

.svg--light--glyph-dims {
	width: 18px;
	height: 18px;
}

.svg--link-dims {
	width: 24px;
	height: 24px;
}

.svg--list-dims {
	width: 16px;
	height: 14px;
}

.svg--locked-dims {
	width: 18px;
	height: 24px;
}

.svg--menu-dims {
	width: 20px;
	height: 14px;
}

.svg--mobile-dims {
	width: 24px;
	height: 24px;
}

.svg--network-dims {
	width: 23px;
	height: 24px;
}

.svg--open-whisk-dims {
	width: 25px;
	height: 16px;
}

.svg--overflow-menu-dims {
	width: 4px;
	height: 20px;
}

.svg--purchase-dims {
	width: 24px;
	height: 17px;
}

.svg--restart-dims {
	width: 18px;
	height: 24px;
}

.svg--restart--glyph-dims {
	width: 12px;
	height: 16px;
}

.svg--search-dims {
	width: 25px;
	height: 25px;
}

.svg--search--glyph-dims {
	width: 16px;
	height: 16px;
}

.svg--security-dims {
	width: 16px;
	height: 24px;
}

.svg--services-dims {
	width: 23px;
	height: 23px;
}

.svg--settings-dims {
	width: 24px;
	height: 24px;
}

.svg--start-dims {
	width: 24px;
	height: 24px;
}

.svg--stop-dims {
	width: 24px;
	height: 24px;
}

.svg--storage-dims {
	width: 24px;
	height: 24px;
}

.svg--unlocked-dims {
	width: 18px;
	height: 24px;
}

.svg--upload-dims {
	width: 24px;
	height: 24px;
}

.svg--user-dims {
	width: 32px;
	height: 32px;
}

.svg--warning-dims {
	width: 24px;
	height: 21px;
}

.svg--watson-dims {
	width: 24px;
	height: 23px;
}

